PORT=3036
MONGO_URI=mongodb+srv://anushka512:anushka512@cluster1.q5cse7t.mongodb.net/hrms?retryWrites=true&w=majority&appName=Cluster1
JWT_SECRET=hrms_super_secret_jwt_key_2025_secure
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=anudutta885@gmail.com
EMAIL_PASS=anushka512
